body {
	margin: 0;
}
nav {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: blue;
}
/* keeps content below navbar */
main {
	padding-top: 100px;
}
/* banner section, image and words on top */
#banner {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 600px;
	background-color: red;
}
.banner-container {
	width: 90%;
	height: 500px;
	background-color: black;
}
/* featured items section, 3 squares in a row with images and text with space in between */
.featured-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 100%;
	height: 400px;
	background-color: black;
}
.featured-container > .featured-items {
	background-color: white;
	width: 500px;
	height: 400px;
	margin: 0px 10px;
}
/* employee section, 3 squares in a row with images and text with space in between */
.squad-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	height: 380px;
	background-color: black;
}
.squad-container > .squad-employee {
	background-color: white;
	width:580px;
	height: 380px;
	margin: 0px 10px;
}
/* footer section, contact above, copright below off to the left */
#contact {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: grey;
}
.contact-container {
	width: 20%;
	height: 80%;
	background-color: black;
}
#copyright {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: purple;
}
.copyright-container {
	width: 20%;
	height: 20px;
	background-color: black;
}